<div class="center hero-unit">
  <h3>Welcome to the Online Gerocery Mart</h3>

  <p><small>
    Please sign up below in order to purchase the items.</a>
    
</p></small>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>


