<center><table border="1" cellspacing="0" cellpadding="10" id="c"></center>
<h3><center>List Of Products</h3></center>

<tr>
<th>S.No</th>
<th>Products</th>
<th>Price</th>
<th>ADD</th>
</tr >
<% @product.each do |product| %> 
<tr>
<td><center><%= product.id %></center></td>
<td><center><%= product.name %></center></td>
<td><center><%= product.price %></center></td>
<td><center><%= link_to "ADD", orders_path(:product =>product.id), class: "btn btn-small btn-primary" %></center></td>
</tr>
<% end %>  
</table>

